*,*::after,*::before{
    box-sizing: border-box;
}
:root{
    --color-primary: #a59f6d;
    --color-secondary: #d9d17d;
    --styling-color: #2c3831;
    --body-color: #2b4539;
    --white-color: #f0e7cd;
}
html{
    font-size: 62.5%;
}

/* typography */
body{
    font-family: 'Fira Sans', sans-serif;
    color: var(--body-color);
    font-size: 1rem;
    background-color: var(--white-color);
}
*::-webkit-scrollbar{
    display: none;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 200;
    transition: all .5s;
}
a:hover{
    color: var(--color-secondary);
    font-weight: 600;
}
ul{
    list-style: none;
    padding: 0;
}
/* button */
.button{
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: capitalize;
    border-radius: 30px;
    margin: 1rem 0;
    transition: all .4s;
}
.button:hover{
    cursor: pointer;
    color: #fff;
    background-color:var(--color-light-black);
}

/* img */
img{
    border: 7px solid var(--color-primary);
}
/* inserting green padding after every block */
.block__end{
    width: 100vw;
    height: 10rem;
    background-color: var(--styling-color);
}
/* Nav bar */
.navbar{
    margin-top: 6rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--styling-color);
    position: relative;
    padding-left: 30rem;
}
.ul__nav{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.li__nav{
    font-size: 3.7rem;
    padding:2rem 5rem;
    text-transform: capitalize;
}
.logo__nav{
    border: 10px solid var(--color-primary);
    border-top: none;
    position: absolute;
    left: 5rem;
}
/* block hero */
.hero-block{
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/background.webp);
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: right;
    padding-left: 23rem;
    padding-top: 10rem;
}
.hero-block img , .hero-block__title,.hero-block__paragraph {
    margin-right: 4rem;
}
.hero-block__title{
    margin-top: 0;
    font-size: 6rem;
    color: var(--color-primary);
    font-weight: 500;
}
.hero-block__paragraph{
    font-size: 2rem;
    color: var(--white-color);
}
/* coffee selection block */
.coffee-selection-block{
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/background-bean-selection.webp);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 17rem;
    
}
.coffee-selection-block>img{
    scale: 1.2;
}
.coffee-selection__title{
    font-size: 5.3rem;
    color: var(--body-color);
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 0;
    padding: 0 10rem;
    
}
.coffee-selection-block__paragraph{
    font-size: 3rem;
    color: var(--body-color);
    text-align: justify;
    margin: 0 10.5rem;
}
/* menu */
.menu{
    height: 1000px;
    background-image: url(/images/menu__background.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 45%;
}
.menu__title{
    font-size: 6rem;
    color: var(--color-primary);
    font-weight: 500;
    margin: 2rem 0;
    text-align: center;
}
.menu__container{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.menu--top__background{
    z-index: -1;
    background-color: var(--styling-color);
    height: 70px;
    width: 100vw;
    position: absolute;
    top: 0;
}
.menu--section__container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-around;
}
.menu--section__name{
   font-size: 2rem;
   font-weight: 600;
   text-transform: uppercase;
   color: var(--color-primary);
   
}
.menu--section__items{
    display: flex;
    gap: 5rem;
}
.order__name{
    font-size: 2rem;
    font-weight: 400;
    color: var(--body-color);
    text-transform: capitalize;
}
.order__price{
    font-size: 2rem;
    font-weight: 500;
    color: var(--body-color);
    
}
