<div class="art-block">
  <h1 class="art__title">The art of coffee in your cup</h1>
  <div class="art--container">
    <div class="art--description">
      <p class="art--paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
        delectus ut debitis. Necessitatibus temporibus quos quasi placeat quae
        molestias sed.
      </p>
      <h2 class="art--work-hour">Open Everyday from 7 AM to 8 PM</h2>
    </div>
    <img src="images/art-coffee.webp" alt="" />
  </div>
</div>
